// Tipografías importadas desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Questrial&family=Tenor+Sans&display=swap');

// Reset general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
@import 'utils/variables';
@import 'utils/mixins';
@import 'base/typography';

/* LAYOUT */
@import 'layout/header';
@import 'layout/hero';
@import 'layout/main-content';
@import 'layout/walks';
@import 'layout/footer';
@import 'layout/responsive';

/* COMPONENTS */
@import 'components/buttons';
@import 'components/cards';