header {
  background-color: white;
  border-bottom: 1px solid #eee;

  .navbar {
    padding: 1rem 0;
    @include flex-center; // Centrado base
    justify-content: space-between;
    flex-wrap: wrap;

    .navbar-brand {
      font-family: $font-title;
      font-size: 1.5rem;
      color: black;
    }

    .navbar-collapse {
      flex-grow: 1;
      justify-content: center;
    }

    .navbar-nav {
      display: flex;
      gap: 2rem;

      .nav-link {
        color: $dark-gray;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: $accent;
        }
      }
    }

    .book-btn {
      padding: 10px 16px;
      background-color: $accent;
      color: $light-bg;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      border: none;
      @include transition(background-color);

      &:hover {
        background-color: darken($accent, 10%);
      }
    }
  }
}
