// Tipografías
$font-serif: "Cormorant", serif;
$font-sans: "Questrial", sans-serif;
$font-title: "Tenor Sans", sans-serif;

// Colores
$pink: #F5D7E3;
$purple: #F4A5AE;
$accent: #A8577E;
$light-bg: #F2EBEE;
$dark-gray: #1f2937;
